<md-card>
    <md-card-title>
        New expence
    </md-card-title>
    <md-card-content>
        <form>
            <md-input placeholder="Date" type="date"></md-input>
            <md-input placeholder="Amount" type="number"></md-input>
            <md-input placeholder="Comment" type="text"></md-input>
            <md-select placeholder="Category">
                <md-option>
                    Category1
                </md-option>
                <md-option>
                    Category2
                </md-option>
                <md-option>
                    Category3
                </md-option>
            </md-select>
        </form>
    </md-card-content>
    <md-card-actions>
        <button md-button>Submit</button>
    </md-card-actions>
</md-card>  