<md-card>
    <md-card-title>
        New expence
    </md-card-title>
    <md-card-content>
        <form #f>
            <md-input ngModel placeholder="Date" type="date" name="date"></md-input>
            <md-input ngModel placeholder="Amount" type="number" name="Amount"></md-input>
            <md-input ngModel placeholder="Comment" type="text" name="Comment"></md-input>
            <md-select ngModel placeholder="Category" name="Category">
                <md-option>
                    Category1
                </md-option>
                <md-option>
                    Category2
                </md-option>
                <md-option>
                    Category3
                </md-option>
            </md-select>
        </form>
    </md-card-content>
    <md-card-actions  align="end">
        <button md-raised-button (click)="onAddClick(f)">Submit</button>
    </md-card-actions>
</md-card>  